# Copy this file to .env and fill in your own values

# Local MongoDB:
MONGO_URI=mongodb://127.0.0.1:27017/transactions_db

# Or MongoDB Atlas (cloud), example:
# MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/transactions_db

PORT=5000
